flask==3.1.2
flask-sqlalchemy==3.1.1
flask-migrate==4.0.7
flask-cors==5.0.0
marshmallow==3.22.0
supabase==2.10.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
razorpay==1.4.2
PyJWT==2.10.1
twilio==9.4.3
